<script setup>
import Menu from '@/layout/menu.vue';
import linkListItem from './components/linkListItem.vue';
import { ref } from 'vue';

let drawer = ref(false);

</script>

<template>
  <div class="bg-basic">
    <v-layout>
      <v-app-bar color="navBar" density="compact" class="text-navBarText">
        <template v-slot:prepend>
          <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
        </template>
        <v-app-bar-title>Hofmann Marlies CV</v-app-bar-title>
        <template v-slot:append>
          <Menu></Menu>
        </template>
      </v-app-bar>
      <v-navigation-drawer v-model="drawer" temporary >
        <v-list>
          <v-list-item> <v-avatar><v-img src="@/assets/Profilbild.jpeg"></v-img></v-avatar></v-list-item>
          <linkListItem/>
        </v-list>
      </v-navigation-drawer>
    </v-layout>

    <v-card class="mx-auto pt-10" width="800">
      <router-view />
 </v-card>


  </div>
</template>

