<script setup>
import pic from '@/components/picture.vue';

</script>

<template>

    <pic>
        <template v-slot:title>Bachelor</template>
        <template v-slot:img1>
            <v-img src="@/assets/certification/BachelorDegree/Certificate1.jpg"></v-img>
        </template>
        <template v-slot:img1Dialog>
            <v-img src="@/assets/certification/BachelorDegree/Certificate1.jpg"></v-img>
        </template>
        <template v-slot:img2>
            <v-img src="@/assets/certification/BachelorDegree/Notification.jpg"></v-img>
        </template>
        <template v-slot:img2Dialog>
            <v-img src="@/assets/certification/BachelorDegree/Notification.jpg"></v-img>
        </template>
    </pic>

    <pic>
        <template v-slot:title>Lehrabschlussprüfung</template>
        <template v-slot:img1>
            <v-img src="@/assets/certification/LAP/LAP1.jpg"></v-img>
        </template>
        <template v-slot:img1Dialog>
            <v-img src="@/assets/certification/LAP/LAP1.jpg"></v-img>
        </template>
        <template v-slot:img2>
            <v-img src="@/assets/certification/LAP/LAP2.jpg"></v-img>
        </template>
        <template v-slot:img2Dialog>
            <v-img src="@/assets/certification/LAP/LAP2.jpg"></v-img>
        </template>
    </pic>

    <pic>
        <template v-slot:title>Matura</template>
        <template v-slot:img1>
            <v-img src="@/assets/certification/HighSchoolDiploma/HighSchoolDiploma1.jpg"></v-img>
        </template>
        <template v-slot:img1Dialog>
            <v-img src="@/assets/certification/HighSchoolDiploma/HighSchoolDiploma1.jpg"></v-img>
        </template>
        <template v-slot:img2>
            <v-img src="@/assets/certification/HighSchoolDiploma/HighSchoolDiploma3.jpg"></v-img>
        </template>
        <template v-slot:img2Dialog>
            <v-img src="@/assets/certification/HighSchoolDiploma/HighSchoolDiploma3.jpg"></v-img>
        </template>
    </pic>
</template>
