<script setup>
import PdfShow from "@/components/pdfShow.vue";
import VuePdfApp from "vue3-pdf-app";
import "vue3-pdf-app/dist/icons/main.css";

import {useBase64Store} from '@/store/base64';

const baseStore64 = useBase64Store();


let pdfSrc = baseStore64.cvPDF;
</script>

<template>
  <pdf-show>
    <template v-slot:pdfAdd>
      <vue-pdf-app style="height: 100vh;" :pdf="pdfSrc"></vue-pdf-app>
    </template>
  </pdf-show>
</template>
