<script setup>
import { useJsonStore } from '@/store/json';
import { ref } from 'vue';

const jsonStore = useJsonStore();
const toLinkList = ref(jsonStore.toLinkList);</script>

<template>
 
<v-list-item>
    <v-list-item-title v-for="link in toLinkList" :key="link.link">
        <RouterLink :to="link.link" class="color"> {{ link.text }} </RouterLink>
    </v-list-item-title>
</v-list-item>

</template>

<style>
.color{
    color: black;
    text-decoration: none;
}</style>