<script setup>
import {ref} from 'vue';

let dialog1 = ref(false);
let dialog2 = ref(false);
</script>


<template>
  <v-card class="ma-3" flat>
    <v-card-item class="d-flex justify-center">
      <v-card-title>
        <slot name="title"></slot>
      </v-card-title>
    </v-card-item>
    <v-card-item>
      <div class="d-flex justify-center">
        <div>
          <v-card-text>
            <v-dialog v-model="dialog1" width="auto">
              <template v-slot:activator="{ props }">
                <v-card hover>
                  <div v-bind="props" class="img">
                    <slot name="img1"></slot>
                  </div>
                </v-card>
              </template>
              <div class="dialogs">
                <slot name="img1Dialog"></slot>
              </div>
            </v-dialog>
          </v-card-text>
        </div>
        <div>
          <v-card-text>
            <v-dialog v-model="dialog2" width="auto">
              <template v-slot:activator="{ props }">
                <v-card hover>
                  <div v-bind="props" class="img">
                    <slot name="img2"></slot>
                  </div>
                </v-card>
              </template>
              <div class="dialogs">
                <slot name="img2Dialog"></slot>
              </div>
            </v-dialog>
          </v-card-text>
        </div>
      </div>
    </v-card-item>
  </v-card>
</template>


<style scoped>

.img {
  border-style: solid;
  border-color: black;
  border-width: 2px;
  width: 120px;
}

.dialogs {
  border-style: solid;
  border-color: black;
  border-width: 2px;
  width: 280px;
}
</style>
