<script setup>
import linkListItem from '../components/linkListItem.vue';
</script>

<template>
    <v-menu>
        <template v-slot:activator="{ props }">
            <v-icon icon="mdi-dots-vertical" v-bind="props" />
        </template>
        <v-list>
            <linkListItem />
        </v-list>
    </v-menu>
</template>

