<script setup>
import { ref } from 'vue';
import { useFunctionStore } from '@/store/function';
import { useJsonStore } from '@/store/json';

const functionStore = useFunctionStore();
const jsonStore = useJsonStore();
const timelines = ref(functionStore.range(2005, 2023));
const summerJobs = jsonStore.summerJobs;
const graduations = jsonStore.graduations;

/*
Create array with years, in which graduations occord, to give the dot the right color
*/
let yearGraduation = [];
for (let y = 0; y < graduations.length; y++) {
    yearGraduation.push(graduations[y].year);
}
</script>

<template>
    <v-timeline side="end" line-thickness="5" line-color="time">
        <v-timeline-item v-for="i in timelines" :dot-color="(yearGraduation.includes(i) ? 'graduation' : 'time')" fill-dot>
           <div class="d-flex">
            {{ i }}
            <div v-for="summer in summerJobs" :key="summer.year">
                <v-icon icon="mdi-information-outline" size="x-small" v-if="i === summer.year" />
                <v-tooltip activator="parent" location="end">{{ summer.month }} {{ summer.job }} </v-tooltip>
            </div>
        </div>
            <div v-for="year in graduations" :key="year.year">
                <div v-if="i === year.year">
                    {{ year.school }}
                    {{ year.exam }}
                </div>
            </div>
        </v-timeline-item>
    </v-timeline>
</template>
